/* color pallet 
#00ABB3: blue 
#3C4048:black
#B2B2B2: darkGrey
#EAEAEA:white
*/


* {
  margin:0;
  padding:0;
  /* box-sizing: border-box; */
  font-family: 'Kalam',cursive;
}

/* semantic framing */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color:#3C4048;
  height: 5rem;
  flex-direction: row;
}
body {
height:100vh;
overflow-y: scroll;
background-color:#EAEAEA ;
}
aside {
display:flex;
flex-direction: column;
width: 30%;
background-color:#3C4048;
}
form {
  border: 2px solid;
  margin-top: 4rem;
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  background-color:#00ABB3;
}
fieldset{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
select,
input {
width: 10rem;
height: 2rem;
}
article {
  border:1px solid;
  width: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13rem;
  background-color: #D7E9B9;
}


/* navBarArea */
.logout-btn-wrapper > .logout {
  height:100%;
  width:7rem;
}


/* main Body Area */

.customer-welcome {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 6rem;
  right: 3rem;
  width: 63%;
  height: 14rem;
  margin-bottom: 3rem;
  background-color: #D7E9B9;
}
.trips-display {
  position: absolute;
  left: 31rem;
  bottom: -17rem;
  border: 2px solid black;
  width: 63%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFD495;
  
}
.bookify-logo {
  height:15rem;
}
     

/* Aside Area  */
.logo-section {
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color:#B2B2B2;
}
.company-wrapper {
 border:1px solid black;
  height: 3rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#3C4048;
  color:white;
  font-size: x-large;
}
.form-container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.disclaimer{
  color:white;
  font-size: larger;
}
.error-wrapper {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  height: 7rem;
  justify-content: center;
  align-items: center;
  background-color: #B2B2B2;
  
}
.error-message{
  color:#3C4048;
  font-size: x-large;
}


.form-intro-wrapper {
  margin-top: 6rem;
  display: flex;
  border: sold;
  border: solid black;
  height: 9rem;
   width: 25rem;
  justify-content: center;
  background-color:#B2B2B2;
  align-items: center;
}
.form-intro {
  height: 66%;
  background-color:#00ABB3;
  font-size: xx-large;
  color:white;   
}

.traveling-people-wrapper,
.duration-trip-wrapper,
.destination-form-wrapper,
.date-wrapper {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-around;
  height: 10rem;
  align-items: center;
  width: 100%;  
}
.button-styler{
  display: flex;
  height: 3rem;
  width: 57%;
  align-content: center;
  justify-content: center;
  border:1px solid black;
  background-color: #3C4048;

}
.book-input-sub {
  height: 2rem;
  margin-top: 7px;
  width: 83%;
  border-radius: 3%;
  background-color:#EAEAEA;
    
    
  font-size: x-large;
}
.estimated-cost-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  color:white;
}
 .est-cost-wrapper > .show-est-cost {
  width: 13rem;
  height: 2rem;
  font-size: x-large;
  
}
.est-cost-wrapper {
  border: 1px solid black;
  width: 15rem;
  display: flex;
  justify-content: center;
  height: 3rem;
}
.dollar-styler {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
 /* card displays */
.trip-info-card-past,
.trip-info-card-pend,
.trip-info-card-upcoming {
  border: 2px solid black;
  width: 80%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  
}
.book-card {
  border: 1px solid black;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#FFFBAC;
}
.book-card >img {
  height:8rem;
  
}
.hidden {
  display: none; 
}